.App {
  text-align: center;
  border: 5px solid aqua;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.choose {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

#casual {
  border-color: blueviolet;
  background-color: darkgray;
  color: white;
}

#sport {
  border-color: chartreuse;
  background-color: darkgray;
  color: white;
}

#formal {
  border-color: darkblue;
  background-color: darkgray;
  color: white;
}

#reset {
  border-color: magenta;
  background-color: darkgray;
  color: white;
}

#top {
  border: 2px solid black;
}

#bottom {
  border: 2px solid black;
}

#shoes {
  border: 2px solid black;
}
